

#form {
    width: 300px;
    display: grid;
    background-color: rgb(137, 200, 46);
    grid-template-rows: repeat(4, 1fr);
    align-items: center;
    justify-items: center;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    resize: both;
    overflow: auto;
    border: 1px solid black;
    font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;

}

.Name, .Email, .CardNumber {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    margin: 5px;
}

.Name {
    grid-row: 1;
}
.Email {
    grid-row: 2;
}
.CardNumber {
    grid-row: 3;
}
#sub {
    grid-row: 4;
    display: grid;
    align-items: center;
    justify-items: center;
    background-color: rgb(231, 0, 100);
    color: black;
}

input#text {
    grid-column: 2;
    display: grid;
}

input:invalid {
    border-color: rgb(231, 0, 100);
}

input:valid {
    border-color: rgb(137, 200, 46);
}

/*  */
/*  */
/*  */
/*  */
/*  */

input.invalid {
    border-color: red;
    background-color: #fdd;
}

input:focus.invalid {
    outline: none;
}

.error {
    width: 100%;
    padding: 0;
    font-size: 80%;
    color: white;
    background-color: #900;
    border-radius: 0 0 5px 5px;
    box-sizing: border-box;
}

.error.active {
    padding: 0.3em;
}



